* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
    .nav {
        display: block;
        width: 100vw;
    }
    main {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    aside {
        display: none;
    }
    .beside {
        height: auto;
        width: 100%;
    }
}