* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: block;
        height: auto;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 1;
        /* background-color: aqua !important; */
    }
    main {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    aside {
        display: none;
    }
    .beside {
        height: auto;
        width: 100%;
    }
}